@use 'variables' as *;

:root {
  --step--2: clamp(0.69rem, calc(0.68rem + 0.05vw), 0.72rem);
  --step--1: clamp(0.83rem, calc(0.81rem + 0.13vw), 0.9rem);
  --step-0: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.12rem + 0.4vw), 1.41rem);
  --step-2: clamp(1.44rem, calc(1.32rem + 0.62vw), 1.76rem);
  --step-3: clamp(1.73rem, calc(1.54rem + 0.92vw), 2.2rem);
  --step-4: clamp(2.07rem, calc(1.81rem + 1.31vw), 2.75rem);
  --step-5: clamp(2.49rem, calc(2.12rem + 1.84vw), 3.43rem);

  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-400: var(--step-0);
  --fs-500: var(--step-1);
  --fs-600: var(--step-2);
  --fs-600: var(--step-3);
  --fs-700: var(--step-4);
  --fs-800: var(--step-5);

  line-height: 1.5;
  font-size: var(--step-0);
  font-weight: var(--fw-regular);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;

    body * {
      animation-duration: 0s !important;
      animation-delay: 0s !important;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  --bg: #{$off-white};
  --text: #{$dark-grayish-blue};
  --text-inverse: #{$off-white};
  --text-inverse-alternative: #{$off-white};
  --soft-red: #{$soft-red};
  --soft-orange: #{$soft-orange};
  --dark-space-blue: #{$dark-space-blue};
  --dark-space-blue-alternative: #{$dark-space-blue};
  --silver: #{$silver};
  --silver-alternative: #{$silver};

  &[data-theme='dark'] {
    --bg: #{$black};
    --text: #{$off-white};
    --text-inverse: #{$dark-space-blue};
    --text-inverse-alternative: #{$off-white};
    --soft-red: #{$soft-red};
    --soft-orange: #{$soft-orange};
    --dark-space-blue: #{$off-white};
    --dark-space-blue-alternative: #{$dark-space-blue};
    --silver: #{$dark-grayish-blue};
    --silver-alternative: #{$silver};
  }

  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

blockquote,
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
li,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

ul:where([class]) {
  list-style: none;
}

button,
input,
select,
textarea {
  color: inherit;
  letter-spacing: inherit;
  font: inherit;
}

input[type='text'],
textarea {
  width: 100%;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  margin-bottom: 0.5rem;
  max-width: 100%;
}

button,
input,
textarea {
  border: 1px solid gray;
}

button * {
  pointer-events: none;
}

button:hover {
  cursor: pointer;
}

embed,
iframe,
img,
object,
svg,
video {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

[hidden] {
  display: none !important;
}

noscript {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

[tabindex='-1'] {
  outline: none !important;
  box-shadow: none !important;
}
